@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.bg-filter {
    position: relative;
}
.bg-title {
    position: relative;
}

.bg-filter:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/img/home-page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.15);
    z-index: -1;
}

.bg-title:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/img/pexels-pixabay-261105.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.25);
    z-index: -1;
}

.bg-page {
    position: relative;
}

.bg-page:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.45);
    z-index: -1;
}

.view:before {
    background-image: url('../../assets/img/pexels-pixabay-261105.jpg');
}

.contact-page:before {
    background-image: url('../../assets/img/pexels-max-rahubovskiy-7031731.jpg');
}

.bg-contact:before {
    background-image: url('../../assets/img/contact.jpg');
}

.bg-about:before {
    background-image: url('../../assets/img/about.jpg');
}